# Copy this file to ~/.config/dotfiles/zsh/secrets.zsh and fill in local values.
# Do not commit the resulting file.

export STARTREK=""
export TANKER_API_TOKEN=""
export AB_TOKEN=""
export ELIZA_TOKEN=""
export FIGMA_ACCESS_TOKEN=""
export INTRASEARCH_TOKEN=""
export STAFF_TOKEN=""
export WIKI_TOKEN=""
export YANDEX_CALENDAR_TOKEN=""
